<div class="mt-4">
    <div class="row">
        <div class="col-lg 3">
            <button>Start</button>
        </div>

        <div class="col-lg 3">
            <h2>{{ manga.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ manga.Idvideo }}?si=fI3v-5BBsYdrFr_J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{ manga.desc }}</p>
        </div>
    </div>
</div>